.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-intro {
    font-size: large;
}

.form_searchButton {
    display: -webkit-inline-box !important;
}

.row_content_center {
    justify-content: center !important;
}
.avatar{
    border-radius: 50%;
    width: 70px !important;
    height:70px !important;
}
.hr{
    border-top: 1px solid #28a4c9;
}
.borderButton{
    border-radius: 50% !important;
    margin-left: 12px;
}
.borderButtonStar{
    border-radius: 50% !important;
}
.modelHeight{
    max-height: calc(182vh - 225px);
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
